In [5]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [6]:
df = pd.read_csv('MS_Dhoni_ODI_record.csv')

In [7]:
print(df.head())
print(df.tail())

  score runs_scored balls_faced strike_rate fours sixes    opposition  \
0     0           0           1           0     0     0  v Bangladesh
1    12          12          11      109.09     2     0  v Bangladesh
2    7*           7           2         350     0     1  v Bangladesh
3     3           3           7       42.85     0     0    v Pakistan
4   148         148         123      120.32    15     4    v Pakistan

          ground        date  odi_number
0     Chattogram  23/12/2004  ODI # 2199
1          Dhaka  26/12/2004  ODI # 2201
2          Dhaka  27/12/2004  ODI # 2202
3          Kochi  02/04/2005  ODI # 2235
4  Visakhapatnam  05/04/2005  ODI # 2236
    score runs_scored balls_faced strike_rate fours sixes     opposition  \
345   56*          56          61        91.8     3     2  v West Indies
346   42*          42          31      135.48     4     1      v England
347    35          35          33      106.06     4     0   v Bangladesh
348   DNB           -           -           -     -     -    v Sri Lanka
349    50          50          72       69.44     1     1  v New Zealand

         ground        date  odi_number
345  Manchester  27/06/2019  ODI # 4175
346  Birmingham  30/06/2019  ODI # 4179
347  Birmingham  02/07/2019  ODI # 4182
348       Leeds  06/07/2019  ODI # 4187
349  Manchester  09/07/2019  ODI # 4190

    Data cleaning

In [8]:
df['opposition'] = df['opposition'].str.replace('v','',regex=False)
print(df['opposition'])

0        Bangladesh
1        Bangladesh
2        Bangladesh
3          Pakistan
4          Pakistan
           ...
345     West Indies
346         England
347      Bangladesh
348       Sri Lanka
349     New Zealand
Name: opposition, Length: 350, dtype: object

Drop 'ODI_number'

In [9]:
df.drop(columns='odi_number',inplace=True)

Create 'not_out' column

In [10]:
df['score'] = df['score'].apply(str)
df['not_out'] = np.where(df['score'].str.endswith('*'),1,0)

Filter out innings where Dhoni did not bat

In [11]:
df_new = df.loc[((df['score']!='DNB')&(df['score']!='TDNB')),'runs_scored':]

Fix data types

In [12]:
df_new['runs_scored'] = df_new['runs_scored'].astype(int)
df_new['balls_faced'] = df_new['balls_faced'].astype(int)
df_new['strike_rate'] = df_new['strike_rate'].astype(float)
df_new['fours'] = df_new['fours'].astype(int)
df_new['sixes'] = df_new['sixes'].astype(int)