    #Assignment 7

Dataset:

https://www.kaggle.com/datasets/amirhosseinmirzaie/americancitizenincome

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("american_income.csv")

In [4]:
#Ensure that we only have 10% of the overall dataframe records in each case. So, remove extra records, if necessary.
df = df.sample(frac=0.1)
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
21703,29,Private,145592,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Guatemala,<=50K
16522,20,Private,95918,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
12001,22,State-gov,477505,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
13859,40,Self-emp-not-inc,117721,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,<=50K
13184,17,Private,218361,10th,6,Never-married,Other-service,Own-child,White,Female,0,1602,12,United-States,<=50K

In [ ]:
#For stratified, use strata as race.

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_13072\1111902749.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_strat = df.groupby('race').apply(lambda x: x.sample(frac=0.1))

                          age workclass  fnlwgt     education  education.num  \
race
Amer-Indian-Eskimo 1784    42   Private  245626       HS-grad              9
                   8770    25   Private   25386     Assoc-voc             11
Asian-Pac-Islander 19028   21   Private  344891  Some-college             10
                   12120   42   Private  163003     Bachelors             13
                   20398   27   Private  123984    Assoc-acdm             12

                                 marital.status     occupation   relationship  \
race
Amer-Indian-Eskimo 1784      Married-civ-spouse   Craft-repair        Husband
                   8770           Never-married  Other-service      Unmarried
Asian-Pac-Islander 19028          Never-married   Adm-clerical      Own-child
                   12120  Married-spouse-absent   Tech-support      Own-child
                   20398          Never-married  Other-service  Not-in-family

                                        race     sex  capital.gain  \
race
Amer-Indian-Eskimo 1784   Amer-Indian-Eskimo    Male             0
                   8770   Amer-Indian-Eskimo  Female             0
Asian-Pac-Islander 19028  Asian-Pac-Islander    Male             0
                   12120  Asian-Pac-Islander  Female             0
                   20398  Asian-Pac-Islander  Female             0

                          capital.loss  hours.per.week native.country income
race
Amer-Indian-Eskimo 1784              0              60  United-States  <=50K
                   8770              0              40  United-States  <=50K
Asian-Pac-Islander 19028             0              20  United-States  <=50K
                   12120             0              40  United-States  <=50K
                   20398             0              35    Philippines  <=50K