In [18]:
import pandas as pd
import numpy as np

In [3]:
df_2015 = pd.read_csv("marathon_results_2015.csv")
df_2016 = pd.read_csv("marathon_results_2016.csv")
df_2017 = pd.read_csv("marathon_results_2017.csv")
df = pd.concat([df_2015, df_2016, df_2017])
original_row_count = len(df)

::7  means from the start to the end, pick every 7th record,

: means all columns

In [4]:
sample_df = df.iloc[::7,:]
sample_row_count = len(sample_df)

print(df.head())
print(sample_df.head())
print(original_row_count)
print(sample_row_count)

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]
    Unnamed: 0  Bib                  Name  Age M/F               City State  \
0          0.0    3        Desisa, Lelisa   25   M               Ambo   NaN
7          7.0    1       Keflezighi, Meb   39   M          San Diego    CA
14        14.0   76         Goffi, Danilo   42   M  Parabiago - Milan   NaN
21        21.0   32  Zywicki, Benjamin P.   26   M         Louisville    CO
28        28.0  106          Glaz, Daniel   32   M            Chicago    IL

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
7      USA     NaN        NaN  ...  1:31:59  1:47:59  2:04:58  0:05:04
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18
21     USA     NaN        NaN  ...  1:38:46  1:56:05  2:13:25  0:05:24
28     USA     NaN        NaN  ...  1:42:19  1:59:50  2:17:03  0:05:32

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
7          -       2:12:42       8      8        8        NaN
14         -       2:18:44      15     15        1        NaN
21         -       2:21:10      22     22       21        NaN
28         -       2:24:44      29     29       27        NaN

[5 rows x 26 columns]
79638
11377

In [10]:
#Stratified random sampling
total_males = len(df[df['M/F'] == 'M'])
total_females = len(df[df['M/F'] == 'F'])

sample_size = int(0.1*original_row_count)
sample_males = int(0.1*total_males)
sample_females = int(0.1*total_females)
print(f'sample size: {sample_size},\n sample males: {sample_males},\n sample females: {sample_females}')

sample size: 7963,
 sample males: 4348,
 sample females: 3615

In [11]:
#Generate proportionate samples of male and female athelets
male_sample = df[df['M/F'] == 'M'].sample(n=sample_males,random_state=42)
female_sample = df[df['M/F'] == 'F'].sample(n=sample_females,random_state=42)
print(len(male_sample),len(female_sample))

4348 3615

In [15]:
#combine the male and female samples into a single sample dataframe
sample_df = pd.concat([male_sample,female_sample])
sample_row_count = len(sample_df)
print(df.head())
print(sample_df)


print(sample_row_count)

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]
       Unnamed: 0    Bib                 Name  Age M/F           City State  \
17164     17164.0   5919    Pucci, Ferdinando   36   M         Quincy    MA
23023         NaN  28464      Burns, Shawn M.   44   M       Pembroke    MA
2331          NaN   2338        Sauvola, Lars   41   M         Rindge    NH
6577       6577.0   9603   Burns, Jonathan M.   47   M  Mechanicsburg    PA
17054     17054.0   5434       Benjamin, Elad   40   M        Raanana   NaN
...           ...    ...                  ...  ...  ..            ...   ...
15618         NaN   5561        Mutter, Katie   26   F       Syracuse    NY
23455     23455.0  25833     Stephens, Eve M.   40   F         Austin    TX
17957         NaN  18266  Jarboe, Jennifer M.   24   F     Washington    DC
21966     21966.0  24163     Leland, Pamela A   55   F         Dorado    PR
11362     11362.0  16540     Willard, Ellen M   34   F    San Antonio    TX

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
17164     USA     NaN        NaN  ...  2:23:12  3:00:12  3:46:17  0:09:27
23023     USA     NaN        NaN  ...  3:10:08  3:48:26  4:25:25  0:10:46
2331      USA     NaN        NaN  ...  2:10:14  2:33:48  2:56:56  0:07:08
6577      USA     NaN        NaN  ...  2:16:58  2:41:11  3:06:37  0:07:34
17054     ISR     NaN        NaN  ...  2:40:03  3:08:50  3:38:39  0:08:52
...       ...     ...        ...  ...      ...      ...      ...      ...
15618     USA     NaN        NaN  ...  2:19:08  2:51:17  3:35:39  0:09:00
23455     USA     NaN        NaN  ...  3:24:01  4:00:57  4:38:18  0:11:13
17957     USA     NaN        NaN  ...  2:49:00  3:20:52  3:52:15  0:09:23
21966     USA     NaN        NaN  ...  3:05:30  3:42:09  4:22:40  0:10:37
11362     USA     NaN        NaN  ...  2:29:38  2:55:58  3:22:06  0:08:10

      Proj Time Official Time Overall Gender Division Unnamed: 8
17164         -       4:07:27   17166  10390     3796        NaN
23023   4:41:59       4:41:59   23023  12863     1835        NaN
2331    3:06:43       3:06:43    2332   2154      335        NaN
6577          -       3:18:23    6578   5654      850        NaN
17054         -       3:52:28   17055  10576     1657        NaN
...         ...           ...     ...    ...      ...        ...
15618   3:55:44       3:55:44   15618   5889     3547        NaN
23455         -       4:53:59   23457  10331     1627        NaN
17957   4:05:39       4:05:39   17957   7241     4014        NaN
21966         -       4:37:59   21968   9514      491        NaN
11362         -       3:33:45   11363   3078     2361        NaN

[7963 rows x 26 columns]
7963

In [16]:
print(f"No of male athelets in sample: {len(sample_df[sample_df['M/F'] == 'M'])}")
print(f"No of female athelets in sample: {len(sample_df[sample_df['M/F'] == 'F'])}")

No of male athelets in sample: 4348
No of female athelets in sample: 3615

    Cluster Sampling

Find th unique countries the atheletes are from

In [17]:
unique_countries = df['Country'].unique()
num_couintries = len(unique_countries)
print(unique_countries,num_couintries)

['ETH' 'KEN' 'USA' 'UKR' 'RSA' 'ITA' 'RUS' 'JPN' 'CAN' 'BEL' 'NZL' 'BLR'
 'AUS' 'GBR' 'CRO' 'ECU' 'GER' 'ESP' 'SWE' 'BRA' 'HKG' 'MEX' 'DEN' 'MAS'
 'IRL' 'ISL' 'CHI' 'GUA' 'FIN' 'SVK' 'COL' 'SUI' 'CHN' 'AUT' 'NED' 'FRA'
 'CRC' 'CYP' 'POL' 'NOR' 'KOR' 'POR' 'TPE' 'PER' 'SIN' 'PAN' 'VEN' 'LUX'
 'CZE' 'VIE' 'MAR' 'BER' 'ROU' 'IND' 'LIE' 'ARG' 'ESA' 'DOM' 'ISR' 'GRE'
 'SLO' 'LTU' 'URU' 'CAY' 'EST' 'JAM' 'UAE' 'VGB' 'TUR' 'LAT' 'AND' 'OMA'
 'BAH' 'TRI' 'INA' 'AHO' 'PHI' 'UGA' 'QAT' 'ZIM' 'TWN' 'HON' 'FLK' 'HUN'
 'JOR' 'ALB' 'SRB' 'PAK' 'BRN' 'BDI' 'EGY' 'THA' 'MLT' 'KSA' 'SMR' 'BUL'
 'ALG' 'NCA' 'BAR' 'GRN' 'PAR' 'TCA' 'KUW' 'MGL' 'NGR'] 105

In [ ]:
#Randomly select half of the countries 
np.random.seed(42)

#choice() function in numpy generates a randmom sample from an array

#replace=False means do not allow the same country twice or more

In [20]:
selected_countries = np.random.choice(unique_countries, size=num_couintries//2, replace=False)
print(selected_countries)

['COL' 'JAM' 'EST' 'IND' 'PAN' 'SMR' 'NGR' 'LUX' 'NZL' 'ETH' 'SWE' 'SUI'
 'BDI' 'ALG' 'UGA' 'RSA' 'TWN' 'AUT' 'AUS' 'CHI' 'GRN' 'ARG' 'DEN' 'PHI'
 'SIN' 'BAH' 'ECU' 'TPE' 'KOR' 'BEL' 'ALB' 'BLR' 'MGL' 'QAT' 'FIN' 'ZIM'
 'ITA' 'URU' 'ESA' 'NOR' 'FRA' 'GER' 'UAE' 'NED' 'JPN' 'PER' 'TUR' 'LAT'
 'GUA' 'BRA' 'JOR' 'ISL']

In [21]:
#create a new dataframe containing all records of the selected countries
sample_df = df[df['Country'].isin(selected_countries)]
sample_row_count = len(sample_df)
print(df.head(),sample_df.head())

   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]     Unnamed: 0 Bib                   Name  Age M/F               City State  \
0          0.0   3         Desisa, Lelisa   25   M               Ambo   NaN
1          1.0   4  Tsegay, Yemane Adhane   30   M        Addis Ababa   NaN
8          8.0   5           Tola, Tadese   27   M        Addis Ababa   NaN
12        12.0  15         April, Lusapho   32   M          Uitenhage   NaN
14        14.0  76          Goffi, Danilo   42   M  Parabiago - Milan   NaN

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
1      ETH     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58
8      ETH     NaN        NaN  ...  1:32:00  1:48:00  2:04:39  0:05:06
12     RSA     NaN        NaN  ...  1:32:00  1:48:07  2:06:50  0:05:13
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
1          -       2:09:48       2      2        2        NaN
8          -       2:13:35       9      9        9        NaN
12         -       2:16:25      13     13       13        NaN
14         -       2:18:44      15     15        1        NaN

[5 rows x 26 columns]