In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('titanic.csv')

In [8]:
df.head()

   survived  pclass  gender   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
# Probability that a passenger dies(Margianl probability)

marginal_prob = df['survived'].value_counts(normalize=True)
marginal_prob

survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [22]:
# Probability that a passenger was male and survived(joint probability of independent events)

joint_prob = ((df['gender'] == 'male') & (df['survived'] == 1)).mean()

print(joint_prob)

0.122334455667789

In [23]:
#- Probability that a passenger survived given that she waas a female(Conditional/Joint probability of dependent events)
conditional_prob = ((df['gender'] == 'female') & (df['survived'] == 1)).value_counts(normalize=True)
conditional_prob

False    0.738496
True     0.261504
Name: proportion, dtype: float64

In [29]:
surivied = df.query("gender == 'female' and survived == 1").agg('count')/df.query("gender == 'female'").agg('count')
surivied

survived    0.742038
pclass      0.742038
gender      0.742038
age         0.754789
sibsp       0.742038
parch       0.742038
fare        0.742038
embarked    0.740385
deck        0.938144
dtype: float64