For combined Marathon datasets, find if younger (age <= 30) and older (age > 30)
	athletes have a similar average pace.

(H0: There is no statistically significant diff between the pace of the younger and older atheletes)

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df15 = pd.read_csv("marathon_results_2015.csv")
df16 = pd.read_csv("marathon_results_2016.csv")
df17 = pd.read_csv("marathon_results_2017.csv")

df = pd.concat([df15, df16, df17])
df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN

In [7]:
# 1. CONVERT TIME STRINGS TO NUMBERS
# 'coerce' turns messy data into NaN (Not a Number) so it doesn't crash
df['Pace_Numeric'] = pd.to_timedelta(df['Pace'], errors='coerce').dt.total_seconds()

# 2. FILTER & SPLIT (Using the NEW numeric column)
# We drop NaNs here to ensure clean input for the stats function
younger = df[df['Age'] <= 30]['Pace_Numeric'].dropna()
older = df[df['Age'] > 30]['Pace_Numeric'].dropna()

# 3. RUN THE TEST
t_stat, p_val = stats.ttest_ind(younger, older)

print(f"T-stat: {t_stat}")
print(f"P-value: {p_val}")

T-stat: -19.10853247069905
P-value: 3.261840139468873e-81

Perform the t-test