- Assignment: Combine datasets:

	Men ODI Team Match Results-20th Century.csv
	
	Men ODI Team Match Results -21st Century.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import binom

Combine datasets

In [4]:
result20 = pd.read_csv('Men ODI Team Match Results - 20th Century.csv')
result21 = pd.read_csv('Men ODI Team Match Results - 21st Century.csv')
result_df = pd.concat([result20, result21])
result_df.head()

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Australia v England,Away,Melbourne,1971/01/05,Jan,1971,Jan 1971,1,England
1,Won,6 wickets,England v Australia,Home,Manchester,1972/08/24,Aug,1972,Aug 1972,1,England
2,Lost,5 wickets,England v Australia,Home,Lord's,1972/08/26,Aug,1972,Aug 1972,1,England
3,Won,2 wickets,England v Australia,Home,Birmingham,1972/08/28,Aug,1972,Aug 1972,1,England
4,Won,7 wickets,England v New Zealand,Home,Swansea,1973/07/18,Jul,1973,Jul 1973,1,England

Historical winrate of India

In [17]:
india_matches_df = result_df[result_df['Match'].str.contains('India', case=False, na=False)]    #case sens OFF, na val OFF


india_wins = india_matches_df[india_matches_df['Result'] == 'Won'].shape[0]
print(india_wins)
total_matches = india_matches_df.shape[0]
print(total_matches)

india_winrate = (india_wins / total_matches) * 100
print(f"India winrate: {india_winrate:.2f}%")

937
2046
India winrate: 45.80%

Now India is scheduled to play 60 ODI matches over the next 3 years.

(a) What is the probability that India wins exactly 35 out of these 60 matches?

(b) What is the probability that India wins more than 40 matches?

(c) What is the probability that India wins at least 45 matches?

(d) What is the most likely number of wins India will have in 60 matches?

In [25]:
#(a) What is the probability that India wins exactly 35 out of these 60 matches?
a = binom.pmf(35, 60, india_winrate/100)
print(a)
b = 1 - binom.cdf(40, 60, india_winrate/100)
print(b)
c = 1 - binom.cdf(44, 60, india_winrate/100)
print(c)
#(d) What is the most likely number of wins India will have in 60 matches?
d = int((60+1)*india_winrate/100)
print(d)

0.015672312922085166
0.0003547235290444206
4.062816147731851e-06
27