In [1]:
import numpy as np
import pandas as pd

In [10]:
s1 = pd.Series([10,20,30], index=["AliceinWonderland","BobMarley","Cinderella"])
s2 = pd.Series([1,2,3], index=["BobMarley","Cinderella","AliceinWonderland"])
print(s1 + s2)

AliceinWonderland    13
BobMarley            21
Cinderella           32
dtype: int64

In [11]:
s2 = pd.Series([1,2,3,4], index=["BobMarley","Cinderella","AliceinWonderland","Harsh"])

1. Creating a Series from a Python list with Default numeric index

In [12]:
names = ["alice","bob","charlie"]
marks = [34,56,97]
students = pd.Series(data=marks)
print(students)
students = pd.Series(data=marks, index=names)
print(students)

0    34
1    56
2    97
dtype: int64
alice      34
bob        56
charlie    97
dtype: int64

2. Creating a Series from a Numpy array

In [13]:
random_ages = np.random.randint(0, 100, 4)
names = ["Alice","Bob","Charlie","Dave"]
people_array = pd.Series(data=random_ages, index=names)
print(people_array)

Alice       7
Bob         6
Charlie    30
Dave       20
dtype: int32

3. Creating a Series from a dictionary

In [14]:
names_ages_dict = {"Alice":21,"Bob":54,"Charlie":87}
print(pd.Series(names_ages_dict))

Alice      21
Bob        54
Charlie    87
dtype: int64

4. Creating a Series for imaginary sales data (Q1 and Q2)

In [15]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Bralzil':80,'China':500,'India':210,'USA':260}

sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

print(sales_Q1)
print(sales_Q1['Japan'])        #Using labelled index
print(sales_Q1[0])              #Using numeric index

Japan     80
China    450
India    200
USA      250
dtype: int64
80
80

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_1920\360009333.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_Q1[0])              #Using numeric index

5. Errors

In [16]:
print(sales_Q1['England'])
print(sales_Q1['india'])
print(sales_Q1[' India'])

KeyError: 'England'

6. Series operations

In [17]:
print(sales_Q1.keys())
print(sales_Q1 * 2)
print(sales_Q2 / 100)

Index(['Japan', 'China', 'India', 'USA'], dtype='object')
Japan    160
China    900
India    400
USA      500
dtype: int64
Bralzil    0.8
China      5.0
India      2.1
USA        2.6
dtype: float64

7. Handling mismatched indices (NaN values)

In [18]:
print(sales_Q1 + sales_Q2)
print(sales_Q1.add(sales_Q2, fill_value=0))

Bralzil      NaN
China      950.0
India      410.0
Japan        NaN
USA        510.0
dtype: float64
Bralzil     80.0
China      950.0
India      410.0
Japan       80.0
USA        510.0
dtype: float64