In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('tips.csv')

Caution:

Every Change we make, is to the DataFrame only, not the Dataset(source)

Thsee changes happen only in memory, not in the Disk

If u want the change to be permanent, save the DataFrame as a file, or the same name as the source to overwrite.

In [20]:
print(df.columns)
print(df.index)
print(df.head(3))
print(df.tail(3))
print(df.info())
print(len(df))
print(df.describe())
print(df.describe().transpose())

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')
RangeIndex(start=0, stop=244, step=1)
   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None
244
       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15
                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

In [21]:
#Set floats to display without scientific notation
pd.set_option('display.float_format','{:.0f}'.format)
print(df)       #print entire dataframe

     total_bill  tip  gender smoker   day    time  size  price_per_person  \
0            17    1  Female     No   Sun  Dinner     2                 8
1            10    2    Male     No   Sun  Dinner     3                 3
2            21    4    Male     No   Sun  Dinner     3                 7
3            24    3    Male     No   Sun  Dinner     2                12
4            25    4  Female     No   Sun  Dinner     4                 6
..          ...  ...     ...    ...   ...     ...   ...               ...
239          29    6    Male     No   Sat  Dinner     3                10
240          27    2  Female    Yes   Sat  Dinner     2                14
241          23    2    Male    Yes   Sat  Dinner     2                11
242          18    2    Male     No   Sat  Dinner     2                 9
243          19    3  Female     No  Thur  Dinner     2                 9

             Payer Name        CC Number Payment ID
0    Christy Cunningham 3560330000000000    Sun2959
1        Douglas Tucker 4478070000000000    Sun4608
2        Travis Walters 6011810000000000    Sun4458
3      Nathaniel Harris 4676140000000000    Sun5260
4          Tonya Carter 4832730000000000    Sun2251
..                  ...              ...        ...
239       Michael Avila 5296070000000000    Sat2657
240      Monica Sanders 3506810000000000    Sat1766
241          Keith Wong 6011890000000000    Sat3880
242        Dennis Dixon    4375220000000      Sat17
243     Michelle Hardin 3511450000000000    Thur672

[244 rows x 11 columns]

In [22]:
#Extracting individual columns
print(df['total_bill'])
print(df.total_bill)        #Another syntax
print(df[['total_bill','tip']])

0     17
1     10
2     21
3     24
4     25
      ..
239   29
240   27
241   23
242   18
243   19
Name: total_bill, Length: 244, dtype: float64
0     17
1     10
2     21
3     24
4     25
      ..
239   29
240   27
241   23
242   18
243   19
Name: total_bill, Length: 244, dtype: float64
     total_bill  tip
0            17    1
1            10    2
2            21    4
3            24    3
4            25    4
..          ...  ...
239          29    6
240          27    2
241          23    2
242          18    2
243          19    3

[244 rows x 2 columns]

In [23]:
#Add a new column
df['tip_percent'] = 100 * df['tip'] / df['total_bill']
df['price_per_person'] = df['total_bill'] /df['size']
print(df.head())
df['price_per_person'] = np.round(df['price_per_person'],2)
print(df.head())

   total_bill  tip  gender smoker  day    time  size  price_per_person  \
0          17    1  Female     No  Sun  Dinner     2                 8
1          10    2    Male     No  Sun  Dinner     3                 3
2          21    4    Male     No  Sun  Dinner     3                 7
3          24    3    Male     No  Sun  Dinner     2                12
4          25    4  Female     No  Sun  Dinner     4                 6

           Payer Name        CC Number Payment ID  tip_percent
0  Christy Cunningham 3560330000000000    Sun2959            6
1      Douglas Tucker 4478070000000000    Sun4608           16
2      Travis Walters 6011810000000000    Sun4458           17
3    Nathaniel Harris 4676140000000000    Sun5260           14
4        Tonya Carter 4832730000000000    Sun2251           15
   total_bill  tip  gender smoker  day    time  size  price_per_person  \
0          17    1  Female     No  Sun  Dinner     2                 8
1          10    2    Male     No  Sun  Dinner     3                 3
2          21    4    Male     No  Sun  Dinner     3                 7
3          24    3    Male     No  Sun  Dinner     2                12
4          25    4  Female     No  Sun  Dinner     4                 6

           Payer Name        CC Number Payment ID  tip_percent
0  Christy Cunningham 3560330000000000    Sun2959            6
1      Douglas Tucker 4478070000000000    Sun4608           16
2      Travis Walters 6011810000000000    Sun4458           17
3    Nathaniel Harris 4676140000000000    Sun5260           14
4        Tonya Carter 4832730000000000    Sun2251           15

In [24]:
#Drop a column
df = df.drop('tip_percent', axis=1)             #axis=1 means drop a column
# df.drop('tip_percent', axis=1, inplace=True)    #Another syntax

Set a column as index - See how the display looks like

In [25]:
df = df.set_index('Payment ID')
print(df.head())
df= df.reset_index()
print(df.head())

            total_bill  tip  gender smoker  day    time  size  \
Payment ID
Sun2959             17    1  Female     No  Sun  Dinner     2
Sun4608             10    2    Male     No  Sun  Dinner     3
Sun4458             21    4    Male     No  Sun  Dinner     3
Sun5260             24    3    Male     No  Sun  Dinner     2
Sun2251             25    4  Female     No  Sun  Dinner     4

            price_per_person          Payer Name        CC Number
Payment ID
Sun2959                    8  Christy Cunningham 3560330000000000
Sun4608                    3      Douglas Tucker 4478070000000000
Sun4458                    7      Travis Walters 6011810000000000
Sun5260                   12    Nathaniel Harris 4676140000000000
Sun2251                    6        Tonya Carter 4832730000000000
  Payment ID  total_bill  tip  gender smoker  day    time  size  \
0    Sun2959          17    1  Female     No  Sun  Dinner     2
1    Sun4608          10    2    Male     No  Sun  Dinner     3
2    Sun4458          21    4    Male     No  Sun  Dinner     3
3    Sun5260          24    3    Male     No  Sun  Dinner     2
4    Sun2251          25    4  Female     No  Sun  Dinner     4

   price_per_person          Payer Name        CC Number
0                 8  Christy Cunningham 3560330000000000
1                 3      Douglas Tucker 4478070000000000
2                 7      Travis Walters 6011810000000000
3                12    Nathaniel Harris 4676140000000000
4                 6        Tonya Carter 4832730000000000

#Conditional Formatting

In [28]:
#Conditional Filtering

print(df['total_bill']<30)		#Boolean Series
print(df[df['total_bill']<30])		#Actual rows where total_bill < 30
print(df[df['gender']=='Male'])
print(df[(df['total_bill']>30) & (df['gender']=='Male')])		# & means AND
print(df[(df['total_bill']>30) &~ (df['gender']=='Male')])		# ~ is Negation (!=)
print(df[(df['total_bill']>30) | (df['tip']>5)])		# | means OR

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
0      Sun2959          17    1  Female     No   Sun  Dinner     2
1      Sun4608          10    2    Male     No   Sun  Dinner     3
2      Sun4458          21    4    Male     No   Sun  Dinner     3
3      Sun5260          24    3    Male     No   Sun  Dinner     2
4      Sun2251          25    4  Female     No   Sun  Dinner     4
..         ...         ...  ...     ...    ...   ...     ...   ...
239    Sat2657          29    6    Male     No   Sat  Dinner     3
240    Sat1766          27    2  Female    Yes   Sat  Dinner     2
241    Sat3880          23    2    Male    Yes   Sat  Dinner     2
242      Sat17          18    2    Male     No   Sat  Dinner     2
243    Thur672          19    3  Female     No  Thur  Dinner     2

     price_per_person          Payer Name        CC Number
0                   8  Christy Cunningham 3560330000000000
1                   3      Douglas Tucker 4478070000000000
2                   7      Travis Walters 6011810000000000
3                  12    Nathaniel Harris 4676140000000000
4                   6        Tonya Carter 4832730000000000
..                ...                 ...              ...
239                10       Michael Avila 5296070000000000
240                14      Monica Sanders 3506810000000000
241                11          Keith Wong 6011890000000000
242                 9        Dennis Dixon    4375220000000
243                 9     Michelle Hardin 3511450000000000

[212 rows x 11 columns]
    Payment ID  total_bill  tip gender smoker  day    time  size  \
1      Sun4608          10    2   Male     No  Sun  Dinner     3
2      Sun4458          21    4   Male     No  Sun  Dinner     3
3      Sun5260          24    3   Male     No  Sun  Dinner     2
5      Sun9679          25    5   Male     No  Sun  Dinner     4
6      Sun5985           9    2   Male     No  Sun  Dinner     2
..         ...         ...  ...    ...    ...  ...     ...   ...
236    Sat5032          13    1   Male    Yes  Sat  Dinner     2
237    Sat2929          33    1   Male    Yes  Sat  Dinner     2
239    Sat2657          29    6   Male     No  Sat  Dinner     3
241    Sat3880          23    2   Male    Yes  Sat  Dinner     2
242      Sat17          18    2   Male     No  Sat  Dinner     2

     price_per_person          Payer Name        CC Number
1                   3      Douglas Tucker 4478070000000000
2                   7      Travis Walters 6011810000000000
3                  12    Nathaniel Harris 4676140000000000
5                   6          Erik Smith  213140000000000
6                   4  Kristopher Johnson 2223730000000000
..                ...                 ...              ...
236                 6       Matthew Myers 3543680000000000
237                16        Thomas Brown 4284720000000000
239                10       Michael Avila 5296070000000000
241                11          Keith Wong 6011890000000000
242                 9        Dennis Dixon    4375220000000

[157 rows x 11 columns]
    Payment ID  total_bill  tip gender smoker   day    time  size  \
23      Sat239          39    8   Male     No   Sat  Dinner     4
39     Sat6373          31    5   Male     No   Sat  Dinner     3
44     Sun2274          30    6   Male     No   Sun  Dinner     4
47     Sun9677          32    6   Male     No   Sun  Dinner     4
56     Sat8903          38    3   Male    Yes   Sat  Dinner     4
59     Sat8139          48    7   Male     No   Sat  Dinner     4
83    Thur8801          33    5   Male    Yes  Thur   Lunch     2
95     Fri9628          40    5   Male    Yes   Fri  Dinner     4
112     Sun591          38    4   Male     No   Sun  Dinner     3
141   Thur1025          34    7   Male     No  Thur   Lunch     6
142   Thur3621          41    5   Male     No  Thur   Lunch     5
156    Sun7518          48    5   Male     No   Sun  Dinner     6
167    Sun3719          32    4   Male     No   Sun  Dinner     4
170    Sat1954          51   10   Male    Yes   Sat  Dinner     3
173    Sun9335          32    3   Male    Yes   Sun  Dinner     2
175    Sun5109          33    3   Male    Yes   Sun  Dinner     2
179    Sun9851          35    4   Male    Yes   Sun  Dinner     2
180    Sun7544          35    4   Male    Yes   Sun  Dinner     4
182    Sun2337          45    4   Male    Yes   Sun  Dinner     3
184    Sun5140          41    3   Male    Yes   Sun  Dinner     2
187    Sun9987          30    2   Male    Yes   Sun  Dinner     5
207    Sat4505          39    3   Male    Yes   Sat  Dinner     4
210    Sat8361          30    2   Male    Yes   Sat  Dinner     3
212    Sat4590          48    9   Male     No   Sat  Dinner     4
237    Sat2929          33    1   Male    Yes   Sat  Dinner     2

     price_per_person             Payer Name        CC Number
23                 10         Lance Peterson 3542580000000000
39                 10      Mr. Brandon Berry 6011530000000000
44                  8            Todd Cooper     503847000000
47                  8           James Barnes 3552000000000000
56                 10  James Christensen DDS  349794000000000
59                 12            Brian Ortiz 6596450000000000
83                 16          Daniel Murphy 5356180000000000
95                 10          Aaron Bentley  180027000000000
112                13             Jeff Lopez 3572870000000000
141                 6         Steven Carlson 3526520000000000
142                 8           Eric Andrews 4356530000000000
156                 8          Ryan Gonzales 3523150000000000
167                 8         Michael Lawson 3566290000000000
170                17          Gregory Clark 5473850000000000
173                16            Scott Perez 3577120000000000
175                16        Nathan Reynolds  370307000000000
179                17           Brian Bailey  346656000000000
180                 9       James Hebert DDS     676169000000
182                15           Jose Parsons 4112210000000000
184                20            Stephen Cox 3547800000000000
187                 6          David Barrett 4792880000000000
207                10          Ricky Ramirez  347818000000000
210                10          Shawn Mendoza   30184000000000
212                12        Alex Williamson     676219000000
237                16           Thomas Brown 4284720000000000
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
85    Thur7972          35    5  Female     No  Thur   Lunch     4
102    Sat6240          44    2  Female    Yes   Sat  Dinner     3
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
219    Sat8863          30    3  Female    Yes   Sat  Dinner     4
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person      Payer Name        CC Number
11                  9    Diane Macias 4577820000000000
52                  9    Emily Daniel 4291280000000000
85                  9     Shawna Cook 6011790000000000
102                15   Heather Cohen  379771000000000
197                11     Brooke Soto 5544900000000000
219                 8    Shelby House     502097000000
238                12  Kimberly Crane     676184000000
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
23      Sat239          39    8    Male     No   Sat  Dinner     4
39     Sat6373          31    5    Male     No   Sat  Dinner     3
44     Sun2274          30    6    Male     No   Sun  Dinner     4
47     Sun9677          32    6    Male     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
56     Sat8903          38    3    Male    Yes   Sat  Dinner     4
59     Sat8139          48    7    Male     No   Sat  Dinner     4
83    Thur8801          33    5    Male    Yes  Thur   Lunch     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
88    Thur9003          25    6    Male     No  Thur   Lunch     2
95     Fri9628          40    5    Male    Yes   Fri  Dinner     4
102    Sat6240          44    2  Female    Yes   Sat  Dinner     3
112     Sun591          38    4    Male     No   Sun  Dinner     3
116      Sun22          30    5    Male     No   Sun  Dinner     4
141   Thur1025          34    7    Male     No  Thur   Lunch     6
142   Thur3621          41    5    Male     No  Thur   Lunch     5
155    Sun9176          30    5  Female     No   Sun  Dinner     5
156    Sun7518          48    5    Male     No   Sun  Dinner     6
167    Sun3719          32    4    Male     No   Sun  Dinner     4
170    Sat1954          51   10    Male    Yes   Sat  Dinner     3
172    Sun9209           7    5    Male    Yes   Sun  Dinner     2
173    Sun9335          32    3    Male    Yes   Sun  Dinner     2
175    Sun5109          33    3    Male    Yes   Sun  Dinner     2
179    Sun9851          35    4    Male    Yes   Sun  Dinner     2
180    Sun7544          35    4    Male    Yes   Sun  Dinner     4
181    Sun3402          23    6    Male    Yes   Sun  Dinner     2
182    Sun2337          45    4    Male    Yes   Sun  Dinner     3
183    Sun6059          23    6    Male    Yes   Sun  Dinner     4
184    Sun5140          41    3    Male    Yes   Sun  Dinner     2
187    Sun9987          30    2    Male    Yes   Sun  Dinner     5
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
207    Sat4505          39    3    Male    Yes   Sat  Dinner     4
210    Sat8361          30    2    Male    Yes   Sat  Dinner     3
211    Sat6735          26    5    Male    Yes   Sat  Dinner     4
212    Sat4590          48    9    Male     No   Sat  Dinner     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
219    Sat8863          30    3  Female    Yes   Sat  Dinner     4
237    Sat2929          33    1    Male    Yes   Sat  Dinner     2
238    Sat9777          36    5  Female     No   Sat  Dinner     3
239    Sat2657          29    6    Male     No   Sat  Dinner     3

     price_per_person             Payer Name        CC Number
11                  9           Diane Macias 4577820000000000
23                 10         Lance Peterson 3542580000000000
39                 10      Mr. Brandon Berry 6011530000000000
44                  8            Todd Cooper     503847000000
47                  8           James Barnes 3552000000000000
52                  9           Emily Daniel 4291280000000000
56                 10  James Christensen DDS  349794000000000
59                 12            Brian Ortiz 6596450000000000
83                 16          Daniel Murphy 5356180000000000
85                  9            Shawna Cook 6011790000000000
88                 12           Roger Taylor    4410250000000
95                 10          Aaron Bentley  180027000000000
102                15          Heather Cohen  379771000000000
112                13             Jeff Lopez 3572870000000000
116                 7            Shawn Blake 4689080000000000
141                 6         Steven Carlson 3526520000000000
142                 8           Eric Andrews 4356530000000000
155                 6         Madison Wilson 4210880000000000
156                 8          Ryan Gonzales 3523150000000000
167                 8         Michael Lawson 3566290000000000
170                17          Gregory Clark 5473850000000000
172                 4            Larry White   30432600000000
173                16            Scott Perez 3577120000000000
175                16        Nathan Reynolds  370307000000000
179                17           Brian Bailey  346656000000000
180                 9       James Hebert DDS     676169000000
181                12              Jason Cox 6556930000000000
182                15           Jose Parsons 4112210000000000
183                 6      Dr. Michael James    4718500000000
184                20            Stephen Cox 3547800000000000
187                 6          David Barrett 4792880000000000
197                11            Brooke Soto 5544900000000000
207                10          Ricky Ramirez  347818000000000
210                10          Shawn Mendoza   30184000000000
211                 6         Christopher Li 6011960000000000
212                12        Alex Williamson     676219000000
214                 9        Marissa Jackson 4922300000000000
219                 8           Shelby House     502097000000
237                16           Thomas Brown 4284720000000000
238                12         Kimberly Crane     676184000000
239                10          Michael Avila 5296070000000000

In [29]:

options = ['Sat', 'Sun']
print(df[df['day'].isin(options)])

    Payment ID  total_bill  tip  gender smoker  day    time  size  \
0      Sun2959          17    1  Female     No  Sun  Dinner     2
1      Sun4608          10    2    Male     No  Sun  Dinner     3
2      Sun4458          21    4    Male     No  Sun  Dinner     3
3      Sun5260          24    3    Male     No  Sun  Dinner     2
4      Sun2251          25    4  Female     No  Sun  Dinner     4
..         ...         ...  ...     ...    ...  ...     ...   ...
238    Sat9777          36    5  Female     No  Sat  Dinner     3
239    Sat2657          29    6    Male     No  Sat  Dinner     3
240    Sat1766          27    2  Female    Yes  Sat  Dinner     2
241    Sat3880          23    2    Male    Yes  Sat  Dinner     2
242      Sat17          18    2    Male     No  Sat  Dinner     2

     price_per_person          Payer Name        CC Number
0                   8  Christy Cunningham 3560330000000000
1                   3      Douglas Tucker 4478070000000000
2                   7      Travis Walters 6011810000000000
3                  12    Nathaniel Harris 4676140000000000
4                   6        Tonya Carter 4832730000000000
..                ...                 ...              ...
238                12      Kimberly Crane     676184000000
239                10       Michael Avila 5296070000000000
240                14      Monica Sanders 3506810000000000
241                11          Keith Wong 6011890000000000
242                 9        Dennis Dixon    4375220000000

[163 rows x 11 columns]

Always Experiment, but Stick to one syntax practically.

One task can be performed in many ways, different syntaxes

- The format or code may change with different syntaxes.

In [33]:
#Gender should be female and tip amount should be $4 or above
syntax1 = df[(df['gender']=='Female')&(df['tip']>=4)]
syntax2 = df.query("gender=='Female' and tip>=4")
syntax3 = df.loc[(df['gender']=='Female')&(df['tip']>=4)]
syntax4 = df.where((df['gender']=='Female')&(df['tip']<=4))
print(syntax1)
print(syntax2)
print(syntax3)
print(syntax4)

    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name        CC Number
11                  9         Diane Macias 4577820000000000
52                  9         Emily Daniel 4291280000000000
73                 13         Julie Holmes 5418690000000000
85                  9          Shawna Cook 6011790000000000
93                  8       Natalie Nguyen 5181240000000000
104                10  Gabrielle Frederick 4013010000000000
109                 7      Amanda Anderson  375639000000000
114                 9          Katie Smith 5400160000000000
125                 5       Angela Sanchez     503857000000
143                 5         Regina Jones    4311050000000
155                 6       Madison Wilson 4210880000000000
178                 5         Melanie Gray    4211810000000
191                10          Kristy Boyd 4317020000000000
197                11          Brooke Soto 5544900000000000
214                 9      Marissa Jackson 4922300000000000
238                12       Kimberly Crane     676184000000
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name        CC Number
11                  9         Diane Macias 4577820000000000
52                  9         Emily Daniel 4291280000000000
73                 13         Julie Holmes 5418690000000000
85                  9          Shawna Cook 6011790000000000
93                  8       Natalie Nguyen 5181240000000000
104                10  Gabrielle Frederick 4013010000000000
109                 7      Amanda Anderson  375639000000000
114                 9          Katie Smith 5400160000000000
125                 5       Angela Sanchez     503857000000
143                 5         Regina Jones    4311050000000
155                 6       Madison Wilson 4210880000000000
178                 5         Melanie Gray    4211810000000
191                10          Kristy Boyd 4317020000000000
197                11          Brooke Soto 5544900000000000
214                 9      Marissa Jackson 4922300000000000
238                12       Kimberly Crane     676184000000
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
11     Sun6686          35    5  Female     No   Sun  Dinner     4
52     Sun6165          35    5  Female     No   Sun  Dinner     4
73     Sat6065          25    5  Female    Yes   Sat  Dinner     2
85    Thur7972          35    5  Female     No  Thur   Lunch     4
93     Fri6963          16    4  Female    Yes   Fri  Dinner     2
104    Sat3194          21    4  Female     No   Sat  Dinner     2
109    Sat2614          14    4  Female    Yes   Sat  Dinner     2
114    Sun6492          26    4  Female     No   Sun  Dinner     3
125   Thur3948          30    4  Female     No  Thur   Lunch     6
143   Thur6179          27    5  Female     No  Thur   Lunch     6
155    Sun9176          30    5  Female     No   Sun  Dinner     5
178    Sun4598          10    4  Female    Yes   Sun  Dinner     2
191    Thur967          20    4  Female    Yes  Thur   Lunch     2
197   Thur9313          43    5  Female    Yes  Thur   Lunch     4
214    Sat3374          28    6  Female    Yes   Sat  Dinner     3
238    Sat9777          36    5  Female     No   Sat  Dinner     3

     price_per_person           Payer Name        CC Number
11                  9         Diane Macias 4577820000000000
52                  9         Emily Daniel 4291280000000000
73                 13         Julie Holmes 5418690000000000
85                  9          Shawna Cook 6011790000000000
93                  8       Natalie Nguyen 5181240000000000
104                10  Gabrielle Frederick 4013010000000000
109                 7      Amanda Anderson  375639000000000
114                 9          Katie Smith 5400160000000000
125                 5       Angela Sanchez     503857000000
143                 5         Regina Jones    4311050000000
155                 6       Madison Wilson 4210880000000000
178                 5         Melanie Gray    4211810000000
191                10          Kristy Boyd 4317020000000000
197                11          Brooke Soto 5544900000000000
214                 9      Marissa Jackson 4922300000000000
238                12       Kimberly Crane     676184000000
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
0      Sun2959          17    1  Female     No   Sun  Dinner     2
1          NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
2          NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
3          NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
4      Sun2251          25    4  Female     No   Sun  Dinner     4
..         ...         ...  ...     ...    ...   ...     ...   ...
239        NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
240    Sat1766          27    2  Female    Yes   Sat  Dinner     2
241        NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
242        NaN         NaN  NaN     NaN    NaN   NaN     NaN   NaN
243    Thur672          19    3  Female     No  Thur  Dinner     2

     price_per_person          Payer Name        CC Number
0                   8  Christy Cunningham 3560330000000000
1                 NaN                 NaN              NaN
2                 NaN                 NaN              NaN
3                 NaN                 NaN              NaN
4                   6        Tonya Carter 4832730000000000
..                ...                 ...              ...
239               NaN                 NaN              NaN
240                14      Monica Sanders 3506810000000000
241               NaN                 NaN              NaN
242               NaN                 NaN              NaN
243                 9     Michelle Hardin 3511450000000000

[244 rows x 11 columns]

#Counts, Sorting

In [35]:
gender_counts = df['gender'].value_counts()
print(gender_counts)

sorted_by_bill = df.sort_values(by='total_bill').head(5)
print(sorted_by_bill)

sorted_by_tip_desc = df.sort_values(by='tip',ascending=False).head(5)
print(sorted_by_tip_desc)

sorted_multi = df.sort_values(by=['day','total_bill'],ascending=[True,False]).head(10)
print(sorted_multi)

gender
Male      157
Female     87
Name: count, dtype: int64
    Payment ID  total_bill  tip  gender smoker   day    time  size  \
67     Sat3455           3    1  Female    Yes   Sat  Dinner     1
92     Fri3780           6    1  Female    Yes   Fri  Dinner     2
111    Sat4801           7    1  Female     No   Sat  Dinner     1
172    Sun9209           7    5    Male    Yes   Sun  Dinner     2
149   Thur6321           8    2    Male     No  Thur   Lunch     2

     price_per_person      Payer Name        CC Number
67                  3   Tiffany Brock 4359490000000000
92                  3    Leah Ramirez 3508910000000000
111                 7     Terri Jones 3559220000000000
172                 4     Larry White   30432600000000
149                 4  Daniel Robbins 4823140000000000
    Payment ID  total_bill  tip gender smoker   day    time  size  \
170    Sat1954          51   10   Male    Yes   Sat  Dinner     3
212    Sat4590          48    9   Male     No   Sat  Dinner     4
23      Sat239          39    8   Male     No   Sat  Dinner     4
59     Sat8139          48    7   Male     No   Sat  Dinner     4
141   Thur1025          34    7   Male     No  Thur   Lunch     6

     price_per_person       Payer Name        CC Number
170                17    Gregory Clark 5473850000000000
212                12  Alex Williamson     676219000000
23                 10   Lance Peterson 3542580000000000
59                 12      Brian Ortiz 6596450000000000
141                 6   Steven Carlson 3526520000000000
    Payment ID  total_bill  tip  gender smoker  day    time  size  \
95     Fri9628          40    5    Male    Yes  Fri  Dinner     4
90     Fri4175          29    3    Male    Yes  Fri  Dinner     2
96     Fri3159          27    4    Male    Yes  Fri  Dinner     2
94     Fri2318          23    3  Female     No  Fri  Dinner     2
91     Fri5700          22    4    Male     No  Fri  Dinner     2
98      Fri144          21    3    Male    Yes  Fri  Dinner     2
93     Fri6963          16    4  Female    Yes  Fri  Dinner     2
225    Fri6665          16    2  Female    Yes  Fri   Lunch     2
223    Fri6014          16    3  Female     No  Fri   Lunch     3
101    Fri8382          15    3  Female    Yes  Fri  Dinner     2

     price_per_person      Payer Name        CC Number
95                 10   Aaron Bentley  180027000000000
90                 14    Daniel Mason 3597460000000000
96                 14     Eric Carter 4563050000000000
94                 11     Jamie Garza     676318000000
91                 11       Earl Horn 6011850000000000
98                 10      Michael Li 4831800000000000
93                  8  Natalie Nguyen 5181240000000000
225                 8  Whitney Arnold 3579110000000000
223                 5     Mary Rivera 5343430000000000
101                 8   Tiffany Colon 6011010000000000