In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('titanic.csv')

1. Do Exploratory Data Analytics (EDA) on the dataset. (Hint: head(), columns, etc)

2. Find passengers whose age is between 20 and 2.

3. Find passengers where gender is female and passenger class is 1.

4. Find average age of female and male passengers.

5. Count number of passengers in each passenger class.

6. Separate passengers who survived (survived column contains 0) and who did not survive (survived column contains 1) into two separate dataframes.

7. For the above two dataframes, find number of females and males.

8. Sort the original dataframe on age in descending order and display the top 3 records.

#1. Do Exploratory Data Analytics (EDA) on the dataset. (Hint: head(), columns, etc)

In [ ]:
df.head()
df.columns
df.info()
df.describe()
df.describe().transpose()
len(df)
df.isnull().sum()
df.isnull().sum().sum()
df.dtypes
df.dtypes.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   gender    891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

int64      4
object     3
float64    2
Name: count, dtype: int64

    Data Cleaning

In [23]:
#Handle missing values
df['age'] = df['age'].fillna(df['age'].median()).astype('Int64')
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df.drop(columns='deck', inplace=True, errors='ignore')

#convert categorical columns
df['gender'] = df['gender'].astype('category')
df['embarked'] = df['embarked'].astype('category')

#drop duplicates
df.drop_duplicates(inplace=True)

#Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

Re-Check

In [24]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 771 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  771 non-null    int64
 1   pclass    771 non-null    int64
 2   gender    771 non-null    category
 3   age       771 non-null    Int64
 4   sibsp     771 non-null    int64
 5   parch     771 non-null    int64
 6   fare      771 non-null    float64
 7   embarked  771 non-null    category
dtypes: Int64(1), category(2), float64(1), int64(4)
memory usage: 44.7 KB

survived    0
pclass      0
gender      0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

2. Find passengers whose age is between 20 and 2.

In [32]:
young_passengers = df[(df['age'] >= 2) & (df['age'] <= 20)]
print(young_passengers)

     survived  pclass  gender  age  sibsp  parch     fare embarked
7           0       3    male    2      3      1  21.0750        S
9           1       2  female   14      1      0  30.0708        C
10          1       3  female    4      1      1  16.7000        S
12          0       3    male   20      0      0   8.0500        S
14          0       3  female   14      0      0   7.8542        S
..        ...     ...     ...  ...    ...    ...      ...      ...
855         1       3  female   18      0      1   9.3500        S
869         1       3    male    4      1      1  11.1333        S
875         1       3  female   15      0      0   7.2250        C
876         0       3    male   20      0      0   9.8458        S
887         1       1  female   19      0      0  30.0000        S

[160 rows x 8 columns]

3. Find passengers where gender is female and passenger class is 1.

In [34]:
rich_females = df[(df['gender'] == 'female') & (df['pclass'] == 1)]
print(rich_females)

     survived  pclass  gender  age  sibsp  parch      fare embarked
1           1       1  female   38      1      0   71.2833        C
3           1       1  female   35      1      0   53.1000        S
11          1       1  female   58      0      0   26.5500        S
31          1       1  female   28      1      0  146.5208        C
52          1       1  female   49      1      0   76.7292        C
..        ...     ...     ...  ...    ...    ...       ...      ...
856         1       1  female   45      1      1  164.8667        S
862         1       1  female   48      0      0   25.9292        S
871         1       1  female   47      1      1   52.5542        S
879         1       1  female   56      0      1   83.1583        C
887         1       1  female   19      0      0   30.0000        S

[93 rows x 8 columns]

4. Find average age of female and male passengers.

In [39]:
avg_male_age = round(df[df['gender'] == 'male']['age'].mean(),2)
avg_female_age = round(df[df['gender'] == 'female']['age'].mean(),2)

print(f"Average age of males: {avg_male_age}")
print(f"Average age of females: {avg_female_age}")

Average age of males: 30.58
Average age of females: 27.9

5. Count number of passengers in each passenger class.

In [41]:
no_of_passengers_by_class = df['pclass'].value_counts()
print(no_of_passengers_by_class)

pclass
3    398
1    210
2    163
Name: count, dtype: int64

6. Separate passengers who survived (survived column contains 0) and who did not survive (survived column contains 1) into two separate dataframes.

In [45]:
survived_passengers = df[df['survived'] == 1]
dead_passengers = df[df['survived'] == 0]
print(f'survived_passengers: {survived_passengers}')
print(f'dead_passengers: {dead_passengers}')

survived_passengers:      survived  pclass  gender  age  sibsp  parch     fare embarked
1           1       1  female   38      1      0  71.2833        C
2           1       3  female   26      0      0   7.9250        S
3           1       1  female   35      1      0  53.1000        S
8           1       3  female   27      0      2  11.1333        S
9           1       2  female   14      1      0  30.0708        C
..        ...     ...     ...  ...    ...    ...      ...      ...
875         1       3  female   15      0      0   7.2250        C
879         1       1  female   56      0      1  83.1583        C
880         1       2  female   25      0      1  26.0000        S
887         1       1  female   19      0      0  30.0000        S
889         1       1    male   26      0      0  30.0000        C

[319 rows x 8 columns]
dead_passengers:      survived  pclass  gender  age  sibsp  parch     fare embarked
0           0       3    male   22      1      0   7.2500        S
4           0       3    male   35      0      0   8.0500        S
5           0       3    male   28      0      0   8.4583        Q
6           0       1    male   54      0      0  51.8625        S
7           0       3    male    2      3      1  21.0750        S
..        ...     ...     ...  ...    ...    ...      ...      ...
882         0       3  female   22      0      0  10.5167        S
883         0       2    male   28      0      0  10.5000        S
885         0       3  female   39      0      5  29.1250        Q
888         0       3  female   28      1      2  23.4500        S
890         0       3    male   32      0      0   7.7500        Q

[452 rows x 8 columns]

7. For the above two dataframes, find number of females and males.

In [49]:
no_of_males_survived = df[(df['gender'] == 'male') & (df['survived'] == 1)]
no_of_females_survived = df[(df['gender'] == 'female') & (df['survived'] == 1)]

no_of_males_dead = df[(df['gender'] == 'male') & (df['survived'] == 0)]
no_of_females_dead = df[(df['gender'] == 'female') & (df['survived'] == 0)]

# Group by gender and survival status, then count
gender_survival_counts = df.groupby(['gender', 'survived'], observed=True).size().unstack(fill_value=0)

# Rename columns for clarity
gender_survival_counts.columns = ['Died', 'Survived']

print(gender_survival_counts)

        Died  Survived
gender
female    76       215
male     376       104

8. Sort the original dataframe on age in descending order and display the top 3 records.

In [ ]:
eldest_passengers = df.sort_values(by='age', ascending=False).head(3)
print(f'eldest_passengers: {eldest_passengers}')

eldest_passengers:      survived  pclass gender  age  sibsp  parch     fare embarked
630         1       1   male   80      0      0  30.0000        S
851         0       3   male   74      0      0   7.7750        S
96          0       1   male   71      0      0  34.6542        C